# 19/04 - Pair Programming Pandas 2 - Tatiana & Lara

In [2]:
import pandas as pd
import numpy as np
import pickle

Carga de archivo CSV

In [9]:
#CSV
csv = pd.read_csv("2.quejas.csv", sep = ";", encoding = "latin-1")
csv.head(2)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

Carga de archivo XLSX

In [3]:
#XLSX
import openpyxl

xlsx = pd.read_excel("2_quejas.xlsx")
xlsx.head(2)

        DESCRIPCION_TEMA         DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO  ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO             FUNCIÓN PÚBLICA

Carga de archivo JSON

In [5]:
#JSON

json = pd.read_json("2_quejas.json")
json.head(2)

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [13]:
#Transformamos JSON a formato legible
json_legible = json["data"].apply(pd.Series)
json_legible.head(2)

,unidad_descripcion,tipo,estado,tema,consejeria,fecha_contestacion,canal_entrada,fecha_entrada,subtema
0,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-28 00:00:00,N/A
1,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-28 00:00:00,N/A

Carga y guardado de tabla almacenada en el portapapeles

In [32]:
#CLIPBOARD

clip = pd.read_clipboard(sep = "-")
clip

   Senior IT Security Consultant – 40.000€ a 50.000€
0     Senior Node.JS developer  –  40.000€ a 50.000€
1                  QA Engineer  –  35.000€ a 45.000€
2               Java developer  –  32.000€ a 37.000€
3   Frontend developer Angular  –  35.000€ a 45.000€
4  Ingeniero Preventa Networking  –  30.000€ a 38...
5  Full Stack (Java + Angular)   –  30.000€ a 40....
6    Analista Programador Java  –  32.000€ a 38.000€
7           Frontend developer  –  32.000€ a 38.000€
8         . Net (C#) developer  –  28.000€ a 33.000€

Guardado en los siguientes formatos:
- csv
- excel
- json
- pickle

In [34]:
clip_csv = clip.to_csv("archivos_nuevos/clip.csv")
clip_excel = clip.to_excel("archivos_nuevos/clip.xlsx")
clip_json = clip.to_json("archivos_nuevos/clip.json")
clip_pickle = clip.to_pickle("archivos_nuevos/clip.pickle")