# 21/04 - Pair Programming Pandas 4 - Tatiana & Lara

Cargad el csv que guardasteis ayer.

In [14]:
import pandas as pd

datos = pd.read_csv("datos_guardados.csv", index_col= 0)
datos.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

¿Cuál es el número de ataques que se han producido en Estados Unidos?

In [15]:
datos.columns
estados_unidos = datos[datos["country"]=="USA"]
ataques_usa = estados_unidos.shape[0]
print ("El número de ataques en USA fue : ", ataques_usa)

El número de ataques en USA fue :  2200

¿Cuál es el número de ataques que se han producido en España?

In [16]:
españa = datos[datos["country"]=="SPAIN"]
ataques_españa = españa.shape[0]
print ("El número de ataques en España fue : ", ataques_españa)

El número de ataques en España fue :  42

¿En qué regiones de España se han producido los ataques?
¿Cuántos ataques se han producido en cada área de España?

In [17]:
regiones_españa = españa["area"].unique()
print("1. En estas regiones de España se han producido accidentes: ", regiones_españa, "\n")

ataques_regiones_españa = españa["area"].value_counts()
print("2. Este es el número de ataques que se han producido en las distintas regiones de España, sin tener en cuenta errores de escritura (aparecen diferenciados):", regiones_españa)

1. En estas regiones de España se han producido accidentes:  ['Canary Islands' 'CastellÃ³n' 'Majorca' 'Ibiza Island'
 'Alicante Province' 'Grand Canary Island' 'Alicante' 'Granada'
 'Catalonia' 'Catalunya' 'Costa Blanca' 'CÃ¡diz' 'Valencia'
 'Sants-Montjic' 'Valencia ' 'Galica' 'Gran Canaria' 'Balearics'
 'MÃ¡laga ' 'Andalucia' 'Galicia' 'Eastern Catalona' nan 'Malaga']

2. Este es el número de ataques que se han producido en las distintas regiones de España, sin tener en cuenta errores de escritura (aparecen diferenciados): ['Canary Islands' 'CastellÃ³n' 'Majorca' 'Ibiza Island'
 'Alicante Province' 'Grand Canary Island' 'Alicante' 'Granada'
 'Catalonia' 'Catalunya' 'Costa Blanca' 'CÃ¡diz' 'Valencia'
 'Sants-Montjic' 'Valencia ' 'Galica' 'Gran Canaria' 'Balearics'
 'MÃ¡laga ' 'Andalucia' 'Galicia' 'Eastern Catalona' nan 'Malaga']

[4] Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. 

📌 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.

In [18]:
#Filtrado

df = datos[(datos['country'] == "USA") | (datos["country"] == "AUSTRALIA")]
df.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5,5,2018.06.03.b,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris Â,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [19]:
#Método insin()

df_usaaus = datos[datos["country"].isin(["AUSTRALIA","USA"])]
df_usaaus.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5,5,2018.06.03.b,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris Â,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

4.1 ¿Cuántos ataques se han producido en cada pais?

In [20]:
ataques_usa2 = (df["country"] == "USA").sum()
ataques_aus = (df["country"] == "AUSTRALIA").sum()
print("En USA se han producido", ataques_usa2, "ataques. Y en Australia se han producido", ataques_aus)

En USA se han producido 2200 ataques. Y en Australia se han producido 1316

4.2 ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [21]:
paddle_attacks = df[(df["country"] == "AUSTRALIA") & (df["activity"] == "Paddling")]

print("En el siguiente data frame encontramos la información del único ataque registrado en Australia a una persona que realizaba paddling:")
paddle_attacks

En el siguiente data frame encontramos la información del único ataque registrado en Australia a una persona que realizaba paddling:

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
4022,4034,1959.12.29,1959.0,Boat,AUSTRALIA,Queensland,Scotts Point Beach,Paddling,"12' ski, occupants: Bill Dyer & Cliff Burgess",NaN,NaN,Afternoon,3.7 m [12'] tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...

4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?

In [22]:
attacks_bf2000 = df[(df["country"] == "AUSTRALIA") & (df["year"] < 2000)]
print("Este es el número de ataques producidos en Australia antes del año 2000:",
attacks_bf2000.shape[0])

Este es el número de ataques producidos en Australia antes del año 2000: 921

4.4 ¿Y después del 2000?

In [23]:
attacks_af2000 = df[(df["country"] == "AUSTRALIA") & (df["year"] > 2000)]
print("Este es el número de ataques producidos en Australia después del año 2000:",
attacks_af2000.shape[0])

Este es el número de ataques producidos en Australia después del año 2000: 377

5. Extraed unicamente los ataques a mujeres.

In [24]:
attacks_on_women = df[df["sex_"] == "F"]
attacks_on_women.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
14,14,2018.05.00,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,NaN,"Tawny nurse shark, 2m",http://sharkattackfile.net/spreadsheets/pdf_di...
40,40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
43,43,2018.02.14,2018.0,Invalid,AUSTRALIA,Queensland,Mooloolaba Beach,Swimming,Sharna Babd,F,NaN,18h00,Possibly a wobbegong,http://sharkattackfile.net/spreadsheets/pdf_di...

6. ¿Cuántas mujeres fueron atacadas en España?

7. Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. Utilizad el método isin() para resolver este ejercicio.

8. Si extraemos los valores únicos de la columna species nos podemos dar cuenta que está un poco sucia y extraer informacion útil de la misma. En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el método str.contains() para resolver este ejercicio.

In [25]:
patron = "W|w[hite]|T|t[iger]"

9. Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.

10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

In [26]:
import numpy as np

In [34]:
df["siglo"] = np.where(df["year"] >= 2000, "siglo XX", "siglo XXI")
df.head()

/tmp/ipykernel_23473/2032366401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["siglo"] = np.where(df["year"] >= 2000, "siglo XX", "siglo XXI")

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XX
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XX
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XX
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XX
5,5,2018.06.03.b,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris Â,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XX