# 21/04 - Pair Programming Pandas 4 - Tatiana & Lara

Cargad el csv que guardasteis ayer.

In [52]:
import pandas as pd

datos = pd.read_csv("datos_guardados.csv", index_col= 0)
datos.head(2)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

¬øCu√°l es el n√∫mero de ataques que se han producido en Estados Unidos?

In [53]:
datos.columns
estados_unidos = datos[datos["country"]=="USA"]
ataques_usa = estados_unidos.shape[0]
print ("El n√∫mero de ataques en USA fue : ", ataques_usa)

El n√∫mero de ataques en USA fue :  2200

¬øCu√°l es el n√∫mero de ataques que se han producido en Espa√±a?

In [54]:
espa√±a = datos[datos["country"]=="SPAIN"]
ataques_espa√±a = espa√±a.shape[0]
print ("El n√∫mero de ataques en Espa√±a fue : ", ataques_espa√±a)

El n√∫mero de ataques en Espa√±a fue :  42

¬øEn qu√© regiones de Espa√±a se han producido los ataques?
¬øCu√°ntos ataques se han producido en cada √°rea de Espa√±a?

In [55]:
regiones_espa√±a = espa√±a["area"].unique()
print("1. En estas regiones de Espa√±a se han producido accidentes: ", regiones_espa√±a, "\n")

ataques_regiones_espa√±a = espa√±a["area"].value_counts()
print("2. Este es el n√∫mero de ataques que se han producido en las distintas regiones de Espa√±a, sin tener en cuenta errores de escritura (aparecen diferenciados):", regiones_espa√±a)

1. En estas regiones de Espa√±a se han producido accidentes:  ['Canary Islands' 'Castell√É¬≥n' 'Majorca' 'Ibiza Island'
 'Alicante Province' 'Grand Canary Island' 'Alicante' 'Granada'
 'Catalonia' 'Catalunya' 'Costa Blanca' 'C√É¬°diz' 'Valencia'
 'Sants-Montjic' 'Valencia ' 'Galica' 'Gran Canaria' 'Balearics'
 'M√É¬°laga ' 'Andalucia' 'Galicia' 'Eastern Catalona' nan 'Malaga']

2. Este es el n√∫mero de ataques que se han producido en las distintas regiones de Espa√±a, sin tener en cuenta errores de escritura (aparecen diferenciados): ['Canary Islands' 'Castell√É¬≥n' 'Majorca' 'Ibiza Island'
 'Alicante Province' 'Grand Canary Island' 'Alicante' 'Granada'
 'Catalonia' 'Catalunya' 'Costa Blanca' 'C√É¬°diz' 'Valencia'
 'Sants-Montjic' 'Valencia ' 'Galica' 'Gran Canaria' 'Balearics'
 'M√É¬°laga ' 'Andalucia' 'Galicia' 'Eastern Catalona' nan 'Malaga']

[4] Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. 

üìå Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el m√©todo isin(). Hacedlo con ambas herramientas.

In [56]:
#Filtrado

df = datos[(datos['country'] == "USA") | (datos["country"] == "AUSTRALIA")]
df.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5,5,2018.06.03.b,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris √Ç,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [57]:
#M√©todo insin()

df_usaaus = datos[datos["country"].isin(["AUSTRALIA","USA"])]
df_usaaus.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5,5,2018.06.03.b,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris √Ç,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

4.1 ¬øCu√°ntos ataques se han producido en cada pais?

In [58]:
ataques_usa2 = (df["country"] == "USA").sum()
ataques_aus = (df["country"] == "AUSTRALIA").sum()
print("En USA se han producido", ataques_usa2, "ataques. Y en Australia se han producido", ataques_aus)

En USA se han producido 2200 ataques. Y en Australia se han producido 1316

4.2 ¬øHa habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [59]:
paddle_attacks = df[(df["country"] == "AUSTRALIA") & (df["activity"] == "Paddling")]

print("En el siguiente data frame encontramos la informaci√≥n del √∫nico ataque registrado en Australia a una persona que realizaba paddling:")
paddle_attacks

En el siguiente data frame encontramos la informaci√≥n del √∫nico ataque registrado en Australia a una persona que realizaba paddling:

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
4022,4034,1959.12.29,1959.0,Boat,AUSTRALIA,Queensland,Scotts Point Beach,Paddling,"12' ski, occupants: Bill Dyer & Cliff Burgess",NaN,NaN,Afternoon,3.7 m [12'] tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...

4.3 ¬øCu√°ntos ataques se han producido en Australia antes del 2000?

In [60]:
attacks_bf2000 = df[(df["country"] == "AUSTRALIA") & (df["year"] < 2000)]
print("Este es el n√∫mero de ataques producidos en Australia antes del a√±o 2000:",
attacks_bf2000.shape[0])

Este es el n√∫mero de ataques producidos en Australia antes del a√±o 2000: 921

4.4 ¬øY despu√©s del 2000?

In [61]:
attacks_af2000 = df[(df["country"] == "AUSTRALIA") & (df["year"] > 2000)]
print("Este es el n√∫mero de ataques producidos en Australia despu√©s del a√±o 2000:",
attacks_af2000.shape[0])

Este es el n√∫mero de ataques producidos en Australia despu√©s del a√±o 2000: 377

5. Extraed unicamente los ataques a mujeres.

In [62]:
attacks_on_women = df[df["sex_"] == "F"]
attacks_on_women.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
14,14,2018.05.00,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,NaN,"Tawny nurse shark, 2m",http://sharkattackfile.net/spreadsheets/pdf_di...
40,40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
43,43,2018.02.14,2018.0,Invalid,AUSTRALIA,Queensland,Mooloolaba Beach,Swimming,Sharna Babd,F,NaN,18h00,Possibly a wobbegong,http://sharkattackfile.net/spreadsheets/pdf_di...

6. ¬øCu√°ntas mujeres fueron atacadas en Espa√±a?

In [63]:
attacks_on_women_spa = espa√±a[espa√±a["sex_"] == "F"]
attacks_on_women_spa.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
98,98,2017.08.26.b,2017.0,Invalid,SPAIN,Castell√É¬≥n,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
113,113,2017.07.23.a,2017.0,Unprovoked,SPAIN,Majorca,"Estanys Beach, Colonia de Sant",Swimming,female,F,NaN,Afternoon,Blue shark 6',http://sharkattackfile.net/spreadsheets/pdf_di...
248,249,2016.07.08.R,2016.0,Unprovoked,SPAIN,Canary Islands,"Las Teresitas, Tenerife",Wading,female,F,10,NaN,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
320,321,2015.12.25,2015.0,Unprovoked,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Swimming,Cristina Ojeda-Thies,F,38,NaN,"Silky shark, 6.5'",http://sharkattackfile.net/spreadsheets/pdf_di...
508,509,2014.08.27.c,2014.0,Unprovoked,SPAIN,Alicante,Benidorm,Swimming,Raquel Martin,F,30s,NaN,small shark,http://sharkattackfile.net/spreadsheets/pdf_di...

7. Extraed los ataques que se hayan producido en el a√±o 2000, 1997 y 2006. Utilizad el m√©todo isin() para resolver este ejercicio.

In [64]:
_2000_97_06 = df[df["year"].isin([2000, 1997, 2006])]

_2000_97_06.sample(6)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
1441,1447,2006.08.00.b,2006.0,Unprovoked,USA,North Carolina,"Masonboro Island, New Hanover County",Wading,Miriam Picklesimer,F,59,12h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2062,2069,2000.03.02,2000.0,Unprovoked,AUSTRALIA,New South Wales,"Taronga Wharf, Athol Bay, Sydney Harbor",Swimming,Jack Dasey,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2021,2028,2000.07.25,2000.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",NaN,male,M,5,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1491,1497,2006.03.15,2006.0,Unprovoked,AUSTRALIA,New South Wales,"Bondi, Sydney",Surfing,Blake Mohair,M,15,17h00,"Bronze whaler shark, 2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
2063,2070,2000.03.00,2000.0,Unprovoked,USA,Louisiana,Midnight Lump (38 miles offshore),Spearfishing,Kurt Bickel,M,39,16h00,"Shortfin mako shark, 3 m to 3.4 m [10' to 11']",http://sharkattackfile.net/spreadsheets/pdf_di...
1450,1456,2006.07.17.R,2006.0,Invalid,AUSTRALIA,Torres Strait,Western Province,NaN,NaN,NaN,NaN,NaN,Shark involvement prior to death was not confi...,http://sharkattackfile.net/spreadsheets/pdf_di...

8. Si extraemos los valores √∫nicos de la columna species nos podemos dar cuenta que est√° un poco sucia y extraer informacion √∫til de la misma. En este ejercicio tendr√©is que extraer los ataques que han ocurrido por tibur√≥n blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el m√©todo str.contains() para resolver este ejercicio.

In [65]:
patron = "White"

white_shark_attacks = df[df["species_"].str.contains(patron, regex= True)]
white_shark_attacks

#Problema con NaN

ValueError: Cannot mask with non-boolean array containing NA / NaN values

9. Extraed ahora los ataques por tibur√≥n blanco o tigre. Utilizad el m√©todo str.contains() para resolver este ejercicio.

In [ ]:
patron = "W|w[hite]|T|t[iger]"

10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el a√±o sea menor que 2000 pondremos siglo-XX y el resto de los a√±os siglo-XXI.

In [66]:
import numpy as np

In [67]:
df.columns

new_cols= ['unnamed:_0', 'case_number', "siglo" 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href']

In [69]:
df["siglo"] = np.where(df["year"] >= 2000, "siglo XX", "siglo XXI")
df.rename(columns = new_cols, inplace = True)
df.head()

/tmp/ipykernel_6478/210205033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["siglo"] = np.where(df["year"] >= 2000, "siglo XX", "siglo XXI")

TypeError: 'list' object is not callable