# 21/04 - Pair Programming Pandas 4 - Tatiana & Lara

Cargad el csv que guardasteis ayer.

In [2]:
import pandas as pd

datos = pd.read_csv("datos_guardados.csv", index_col= 0)
datos.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

¬øCu√°l es el n√∫mero de ataques que se han producido en Estados Unidos?

In [3]:
datos.columns
estados_unidos = datos[datos["country"]=="USA"]
ataques_usa = estados_unidos.shape[0]
print ("El n√∫mero de ataques en USA fue : ", ataques_usa)

El n√∫mero de ataques en USA fue :  2200

¬øCu√°l es el n√∫mero de ataques que se han producido en Espa√±a?

In [4]:
espa√±a = datos[datos["country"]=="SPAIN"]
ataques_espa√±a = espa√±a.shape[0]
print ("El n√∫mero de ataques en Espa√±a fue : ", ataques_espa√±a)

El n√∫mero de ataques en Espa√±a fue :  42

¬øEn qu√© regiones de Espa√±a se han producido los ataques?
¬øCu√°ntos ataques se han producido en cada √°rea de Espa√±a?

In [18]:
regiones_espa√±a = espa√±a["area"].unique()
print("1. En estas regiones de Espa√±a se han producido accidentes: ", regiones_espa√±a, "\n")

ataques_regiones_espa√±a = espa√±a["area"].value_counts()
print("2. Este es el n√∫mero de ataques que se han producido en las distintas regiones de Espa√±a, sin tener en cuenta errores de escritura (aparecen diferenciados):", regiones_espa√±a)

1. En estas regiones de Espa√±a se han producido accidentes:  ['Canary Islands' 'Castell√É¬≥n' 'Majorca' 'Ibiza Island'
 'Alicante Province' 'Grand Canary Island' 'Alicante' 'Granada'
 'Catalonia' 'Catalunya' 'Costa Blanca' 'C√É¬°diz' 'Valencia'
 'Sants-Montjic' 'Valencia ' 'Galica' 'Gran Canaria' 'Balearics'
 'M√É¬°laga ' 'Andalucia' 'Galicia' 'Eastern Catalona' nan 'Malaga']

2. Este es el n√∫mero de ataques que se han producido en las distintas regiones de Espa√±a, sin tener en cuenta errores de escritura (aparecen diferenciados): ['Canary Islands' 'Castell√É¬≥n' 'Majorca' 'Ibiza Island'
 'Alicante Province' 'Grand Canary Island' 'Alicante' 'Granada'
 'Catalonia' 'Catalunya' 'Costa Blanca' 'C√É¬°diz' 'Valencia'
 'Sants-Montjic' 'Valencia ' 'Galica' 'Gran Canaria' 'Balearics'
 'M√É¬°laga ' 'Andalucia' 'Galicia' 'Eastern Catalona' nan 'Malaga']

[4] Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. 

üìå Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el m√©todo isin(). Hacedlo con ambas herramientas.

In [28]:
#Filtrado

df = datos[(datos['country'] == "USA") | (datos["country"] == "AUSTRALIA")]
df.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5,5,2018.06.03.b,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris √Ç,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [32]:
#M√©todo insin()

df_usaaus = datos[datos["country"].isin(["AUSTRALIA","USA"])]
df_usaaus.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5,5,2018.06.03.b,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris √Ç,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

4.1 ¬øCu√°ntos ataques se han producido en cada pais?

In [35]:
ataques_usa2 = (df["country"] == "USA").sum()
ataques_aus = (df["country"] == "AUSTRALIA").sum()
print("En USA se han producido", ataques_usa2, "ataques. Y en Australia se han producido", ataques_aus)

En USA se han producido 2200 ataques. Y en Australia se han producido 1316

4.2 ¬øHa habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [45]:
paddle_attacks = df[(df["country"] == "AUSTRALIA") & (df["activity"] == "Paddling")]

print("En el siguiente data frame encontramos la informaci√≥n del √∫nico ataque registrado en Australia a una persona que realizaba paddling:")
paddle_attacks

En el siguiente data frame encontramos la informaci√≥n del √∫nico ataque registrado en Australia a una persona que realizaba paddling:

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
4022,4034,1959.12.29,1959.0,Boat,AUSTRALIA,Queensland,Scotts Point Beach,Paddling,"12' ski, occupants: Bill Dyer & Cliff Burgess",NaN,NaN,Afternoon,3.7 m [12'] tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...

4.3 ¬øCu√°ntos ataques se han producido en Australia antes del 2000?

In [50]:
attacks_bf2000 = df[(df["country"] == "AUSTRALIA") & (df["year"] < 2000)]
print("Este es el n√∫mero de ataques producidos en Australia antes del a√±o 2000:",
attacks_bf2000.shape[0])

Este es el n√∫mero de ataques producidos en Australia antes del a√±o 2000: 921

4.4 ¬øY despu√©s del 2000?

In [51]:
attacks_af2000 = df[(df["country"] == "AUSTRALIA") & (df["year"] > 2000)]
print("Este es el n√∫mero de ataques producidos en Australia despu√©s del a√±o 2000:",
attacks_af2000.shape[0])

Este es el n√∫mero de ataques producidos en Australia despu√©s del a√±o 2000: 377

5. Extraed unicamente los ataques a mujeres.

6. ¬øCu√°ntas mujeres fueron atacadas en Espa√±a?

7. Extraed los ataques que se hayan producido en el a√±o 2000, 1997 y 2006. Utilizad el m√©todo isin() para resolver este ejercicio.

8. Si extraemos los valores √∫nicos de la columna species nos podemos dar cuenta que est√° un poco sucia y extraer informacion √∫til de la misma. En este ejercicio tendr√©is que extraer los ataques que han ocurrido por tibur√≥n blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el m√©todo str.contains() para resolver este ejercicio. Extraed ahora los ataques por tibur√≥n blanco o tigre. Utilizad el m√©todo str.contains() para resolver este ejercicio.

9. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el a√±o sea menor que 2000 pondremos siglo-XX y el resto de los a√±os siglo-XXI.

10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el a√±o sea menor que 2000 pondremos siglo-XX y el resto de los a√±os siglo-XXI.