# 21/04 - Pair Programming Pandas 4 - Tatiana & Lara

Cargad el csv que guardasteis ayer.

In [19]:
import pandas as pd

datos = pd.read_csv("datos_guardados.csv", index_col= 0)
datos.head()

,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
case_number,,,,,,,,,,,,,
2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

AttributeError: 'NoneType' object has no attribute 'dropna'

¿Cuál es el número de ataques que se han producido en Estados Unidos?

In [31]:
datos.columns
estados_unidos = datos[datos["country"]=="USA"]
ataques_usa = estados_unidos.shape[0]
print ("El número de ataques en USA fue : ", ataques_usa)

El número de ataques en USA fue :  2200

¿Cuál es el número de ataques que se han producido en España?

In [32]:
españa = datos[datos["country"]=="SPAIN"]
ataques_españa = españa.shape[0]
print ("El número de ataques en España fue : ", ataques_españa)

El número de ataques en España fue :  42

¿En qué regiones de España se han producido los ataques?
¿Cuántos ataques se han producido en cada área de España?

In [40]:
regiones_españa = españa["area"].unique()
print("En estas regiones de España se han producido accidentes: ", regiones_españa)
for region in regiones_españa:
    if region == "Alicante"

En estas regiones de España se han producido accidentes:  ['Canary Islands' 'CastellÃ³n' 'Majorca' 'Ibiza Island'
 'Alicante Province' 'Grand Canary Island' 'Alicante' 'Granada'
 'Catalonia' 'Catalunya' 'Costa Blanca' 'CÃ¡diz' 'Valencia'
 'Sants-Montjic' 'Valencia ' 'Galica' 'Gran Canaria' 'Balearics'
 'MÃ¡laga ' 'Andalucia' 'Galicia' 'Eastern Catalona' nan 'Malaga']